       @media only screen and (max-width: 575.98px) {
           .hero-testimonials {
               width: 100%;
               background: url(../assets/Path\ 136\ \(3\).svg) no-repeat;
               background-size: cover;
               background-position: center;
           }

           .logo-main {
               height: 80px;
               width: 190px;
               margin-left: -52px;
               margin-top: 1px;
           }

           .facebooksmall img {
               width: 29.002px;
               height: 29.995px;
               padding: 0;
               margin: -20px;
               border: 0;
               margin-top: -168px;
               margin-left: -22px;
           }

           .facebooksmall a {
               padding: 0;
               margin: 0;
               border: 0;
               height: 1px;
               width: 30px;
           }

           .icon-bar-login-small a {
               float: left;
               width: 20%;
               text-align: right;
               margin-left: -55px;
               margin-top: -84px;
               transition: all 0.3s ease;
               color: black;
               font-size: 30px;
               position: absolute;
           }

           .top-hr {
               position: absolute;
               left: -208px;
               top: 42px;
               margin-top: -303px;
               margin-left: 361px;
               width: 59%;
           }

           .top-hr2 {
               position: absolute;
               left: 1px;
               top: 322px;
               height: 0;
               width: 99%;
           }


           .lorem {
               margin-left: 20.002px;
               width: 312.998px;
               text-align: left;
               font: Bold 24.998px/24.998px HK Grotesk;
               letter-spacing: 0px;
               color: #3B0F24;
               opacity: 1;
           }

           .quis {
               margin-left: 22.003px;
               width: 321.998px;
               text-align: left;
               font: Regular 24.998px/24.998px HK Grotesk;
               letter-spacing: 0px;
               color: #3B0F24;
               opacity: 0.7;
           }

           .black-text {
               top: 0px;
               left: 0px;
               width: 234.994px;
               height: 53.006px;
               text-align: left;
               font: Bold 20.002px/20.002px HK Grotesk;
               letter-spacing: 0px;
               color: #3B0F24;
           }

           .pink-text {
               top: 53px;
               left: 0px;
               width: 488px;
               height: 53px;
               text-align: center;
               font: Bold 20px/20px HK Grotesk;
               letter-spacing: 0px;
               color: #EE3D97;
           }

           .coming-text {
               top: 458.006px;
               left: 186.998px;
               width: 137.002px;
               height: 29.002px;
               text-align: left;
               font: Medium 20.002px/20.002px HK Grotesk;
               letter-spacing: 0px;
               color: #EE84B5;
               opacity: 1;
           }

           p {
               padding: 49.997px;
           }

           a {
               margin: 29.995px 9.994px;
               width: 150.005px;
               padding: 9.994px;
               border-radius: 20.002px;
           }

           .btn-first {

               top: 542.002px;
               left: 186.998px;
               width: 184.003px;
               height: 54px;

               background: #FDF1F7 0% 0% no-repeat padding-box;
               border-radius: 4.003px;
               opacity: 1;
           }

           .btn-second {

               top: 553.997px;
               left: 432px;
               width: 99.994px;
               height: 24.005px;

               text-align: left;
               font: Medium 20.002px/24.005px HK Grotesk;
               letter-spacing: 0px;
               color: #6C63FF;
               opacity: 1;
           }

           .header {
               height: 20vh;
           }

           .navbar-style {
               box-shadow: 0 4.997px 9.994px #efefef;
           }

           .logo {
               height: 69.998px;
               padding: 0.994px 4.997px;
           }

           .people {
               max-width: 229.997px;
               max-height: 900px;
               margin-left: 121.003px;
               margin-top: 227.995px;
           }

           .women {
               max-width: 299.995px;
               max-height: 260.006px;
               margin-left: 31.997px;
               margin-top: 49.997px;
           }

           .hey {
               max-width: 267.005px;
               max-height: 400.003px;
               margin-left: 18.994px;
               margin-top: 99.994px;
               margin-bottom: 99.994px;
           }

           .carousel-caption {
               text-align: left;
               margin-left: -40.997px;
               margin-top: 180.994px;
               width: 180px;
           }

           .text-privacy {
               text-align: center;
           }
       }

       /*
       // Small devices (landscape phones, less than 768px)
       @media (max-width: 767.98px) {
           .hero-testimonials {
               width: 100%;
               background: url(../assets/Path\ 136\ \(3\).svg) no-repeat;
               background-size: cover;
               background-position: center;
           }

           .logo-main {
               height: 80px;
               width: 151px;
               margin-left: -48px;
               margin-top: 1px;
           }

           .facebook img {
               width: 29.002px;
               height: 29.995px;
               margin-left: 10px;
               margin-top: 10px;
           }

           .lorem {
               margin-left: 20.002px;
               width: 312.998px;
               text-align: left;
               font: Bold 24.998px/24.998px HK Grotesk;
               letter-spacing: 0px;
               color: #3B0F24;
               opacity: 1;
           }

           .quis {
               margin-left: 22.003px;
               width: 321.998px;
               text-align: left;
               font: Regular 24.998px/24.998px HK Grotesk;
               letter-spacing: 0px;
               color: #3B0F24;
               opacity: 0.7;
           }

           .black-text {
               top: 0px;
               left: 0px;
               width: 234.994px;
               height: 53.006px;
               text-align: left;
               font: Bold 20.002px/20.002px HK Grotesk;
               letter-spacing: 0px;
               color: #3B0F24;
           }

           .pink-text {
               top: 53.006px;
               left: 0px;
               width: 488.002px;
               height: 53.006px;
               text-align: left;
               font: Bold 20.002px/20.002px HK Grotesk;
               letter-spacing: 0px;
               color: #EE3D97;
           }

           .coming-text {
               top: 458.006px;
               left: 186.998px;
               width: 137.002px;
               height: 29.002px;
               text-align: left;
               font: Medium 20.002px/20.002px HK Grotesk;
               letter-spacing: 0px;
               color: #EE84B5;
               opacity: 1;
           }

           p {
               padding: 49.997px;
           }

           a {
               margin: 29.995px 9.994px;
               width: 150.005px;
               padding: 9.994px;
               border-radius: 20.002px;
           }

           .btn-first {

               top: 542.002px;
               left: 186.998px;
               width: 184.003px;
               height: 54px;

               background: #FDF1F7 0% 0% no-repeat padding-box;
               border-radius: 4.003px;
               opacity: 1;
           }

           .btn-second {

               top: 553.997px;
               left: 432px;
               width: 99.994px;
               height: 24.005px;

               text-align: left;
               font: Medium 20.002px/24.005px HK Grotesk;
               letter-spacing: 0px;
               color: #6C63FF;
               opacity: 1;
           }

           .header {
               height: 20vh;
           }

           .navbar-style {
               box-shadow: 0 4.997px 9.994px #efefef;
           }

           .logo {
               height: 69.998px;
               padding: 0.994px 4.997px;
           }

           .people {
               max-width: 229.997px;
               max-height: 900px;
               margin-left: 121.003px;
               margin-top: 227.995px;
           }

           .women {
               max-width: 299.995px;
               max-height: 260.006px;
               margin-left: 31.997px;
               margin-top: 49.997px;
           }

           .hey {
               max-width: 267.005px;
               max-height: 400.003px;
               margin-left: 18.994px;
               margin-top: 99.994px;
               margin-bottom: 99.994px;
           }

           .carousel-caption {
               text-align: left;
               margin-left: -40.997px;
               margin-top: 180.994px;
               width: 180px;
           }

           .text-privacy {
               text-align: center;
           }
       }

       // Medium devices (tablets, less than 992px)
       @media (max-width: 991.98px) {
           .hero-testimonials {
               width: 100%;
               background: url(../assets/Path\ 136\ \(3\).svg) no-repeat;
               background-size: cover;
               background-position: center;
           }

           .logo-main {
               height: 80px;
               width: 151px;
               margin-left: -48px;
               margin-top: 1px;
           }

           .facebook img {
               width: 29.002px;
               height: 29.995px;
               margin-left: 10px;
               margin-top: 10px;
           }

           .lorem {
               margin-left: 20.002px;
               width: 312.998px;
               text-align: left;
               font: Bold 24.998px/24.998px HK Grotesk;
               letter-spacing: 0px;
               color: #3B0F24;
               opacity: 1;
           }

           .quis {
               margin-left: 22.003px;
               width: 321.998px;
               text-align: left;
               font: Regular 24.998px/24.998px HK Grotesk;
               letter-spacing: 0px;
               color: #3B0F24;
               opacity: 0.7;
           }

           .black-text {
               top: 0px;
               left: 0px;
               width: 234.994px;
               height: 53.006px;
               text-align: left;
               font: Bold 20.002px/20.002px HK Grotesk;
               letter-spacing: 0px;
               color: #3B0F24;
           }

           .pink-text {
               top: 53.006px;
               left: 0px;
               width: 488.002px;
               height: 53.006px;
               text-align: left;
               font: Bold 20.002px/20.002px HK Grotesk;
               letter-spacing: 0px;
               color: #EE3D97;
           }

           .coming-text {
               top: 458.006px;
               left: 186.998px;
               width: 137.002px;
               height: 29.002px;
               text-align: left;
               font: Medium 20.002px/20.002px HK Grotesk;
               letter-spacing: 0px;
               color: #EE84B5;
               opacity: 1;
           }

           p {
               padding: 49.997px;
           }

           a {
               margin: 29.995px 9.994px;
               width: 150.005px;
               padding: 9.994px;
               border-radius: 20.002px;
           }

           .btn-first {

               top: 542.002px;
               left: 186.998px;
               width: 184.003px;
               height: 54px;

               background: #FDF1F7 0% 0% no-repeat padding-box;
               border-radius: 4.003px;
               opacity: 1;
           }

           .btn-second {

               top: 553.997px;
               left: 432px;
               width: 99.994px;
               height: 24.005px;

               text-align: left;
               font: Medium 20.002px/24.005px HK Grotesk;
               letter-spacing: 0px;
               color: #6C63FF;
               opacity: 1;
           }

           .header {
               height: 20vh;
           }

           .navbar-style {
               box-shadow: 0 4.997px 9.994px #efefef;
           }

           .logo {
               height: 69.998px;
               padding: 0.994px 4.997px;
           }

           .people {
               max-width: 229.997px;
               max-height: 900px;
               margin-left: 121.003px;
               margin-top: 227.995px;
           }

           .women {
               max-width: 299.995px;
               max-height: 260.006px;
               margin-left: 31.997px;
               margin-top: 49.997px;
           }

           .hey {
               max-width: 267.005px;
               max-height: 400.003px;
               margin-left: 18.994px;
               margin-top: 99.994px;
               margin-bottom: 99.994px;
           }

           .carousel-caption {
               text-align: left;
               margin-left: -40.997px;
               margin-top: 180.994px;
               width: 180px;
           }

           .text-privacy {
               text-align: center;
           }
       }

       // Large devices (desktops, less than 1200px)
       @media (max-width: 1199.98px) {}

       /* @media only screen and (max-width: 1024px) and (min-width:768px) {
           .hero-testimonials {
               width: 100%;
               height: 34vh;
               background: url(../assets/Path\ 136\ \(3\).svg) no-repeat;
               background-size: cover;
               background-position: 0-100px;
           }

           .logo-main {
               left: 10px;
               top: 10px;
           }

           .people-girl {

               max-width: 243.994px;
               padding: 0;
               margin: 0;
               max-height: 275.998px;
               margin-left: 396.997px;
               margin-top: 7px;
           }

           .people {
               max-width: 243.994px;
               padding: 0;
               margin: 0;
               max-height: 275.998px;
               margin-left: 396.997px;
               margin-top: 7px;
           }

           .top-hr2 {
               position: absolute;
               left: -238px;
               top: 321.997px;
               height: 0;
               width: 123%;
           }

           .top-hr {
               position: absolute;
               left: -123px;
               top: 35.997px;
               mar
               height: 0;
               width: 118%;
           }

           .black-text {
               top: 0px;
               left: 0px;
               width: 234.994px;
               height: 53.006px;
               text-align: left;
               font: Bold 20.002px/20.002px HK Grotesk;
               letter-spacing: 0px;
               color: #3B0F24;
           }

           .pink-text {
               top: 53.006px;
               left: 0px;
               width: 488.002px;
               height: 53.006px;
               text-align: left;
               font: Bold 20.002px/20.002px HK Grotesk;
               letter-spacing: 0px;
               color: #EE3D97;
           }

           .coming-text {
               top: 458.006px;
               left: 186.998px;
               width: 137.002px;
               height: 29.002px;
               text-align: left;
               font: Medium 20.002px/20.002px HK Grotesk;
               letter-spacing: 0px;
               color: #EE84B5;
               opacity: 1;
           }

           .container-height {
               height: 340px;
           }

           .container-height2 {
               top: 7px;
           }

       }

       /*
      @media only screen and (max-width: 600px) and(min-width:375) {
          * {
              padding: 0;
              margin: 0;
              border: 0;
          }

          .hero-testimonials {
              width: 100%;
              background: url(../assets/Path\ 136\ \(3\).svg) no-repeat;
              background-size: cover;
              background-position: 0 -140px;
          }

          /*
              .facebook {
                  margin-left: 2.002px;
                  top: 4.997px;
                  left: 621px;
                  width: 175.003px;
                  height: 29.002px;
                  align-items: left;
                  text-align: left;
                  font: Medium 24.005px/29.002px HK Grotesk;
                  letter-spacing: 0px;
                  color: #6c63ff;
                  opacity: 1;
              
          .facebook img {
              width: 10px;
              height: 10px;
              margin-left: 10px;
              margin-top: 10px;

          }

          .top-hr {
              position: absolute;
              left: -208px;
              top: 42.997px;
              height: 0;
              width: 123%;
          }

          .top-hr2 {
              position: absolute;
              left: -310px;
              top: 358.997px;
              height: 0;
              width: 123%;
          }

          .lorem {
              margin-top: 65.002px;
              width: 384.998px;
              text-align: left;
              font: Bold 29.995px/29.995px HK Grotesk;
              letter-spacing: 0px;
              color: #3b0f24;
              opacity: 1;
          }

          .quis {
              margin-top: -20.002px;

              width: 389.995px;
              text-align: left;
              font: Regular 24.998px/24.998px HK Grotesk;
              letter-spacing: 0px;
              color: #3b0f24;
              opacity: 0.7;
              padding: 0;
          }

          .black-text {
              top: 0px;
              left: 0px;
              width: 234.994px;
              height: 53.006px;
              text-align: left;
              font: Bold 27.994px/27.994px HK Grotesk;
              letter-spacing: 0px;
              color: #3b0f24;
          }

          .pink-text {
              /*top: 53.006px;
                  left: 0px;
              width: 488.002px;
              height: 53.006px;
              text-align: left;
              font: Bold 27.994px/27.994px HK Grotesk;
              letter-spacing: 0px;
              color: #ee3d97;
          }

          .coming-text {
              top: 400.003px;
              width: 137.002px;
              height: 29.002px;
              text-align: left;
              font: bold 15.005px/15.005px HK Grotesk;
              letter-spacing: 0px;
              color: #ee84b5;
              opacity: 1;
          }

          a.navbar-brand {
              margin: 0;
              width: 180px;
              padding: 0;
              border-radius: 20.002px;
          }

          .button-link {
              text-decoration: #6C63FF;
          }


          .navbar-brand {
              margin: 0;
              padding: 0;
              border: 0;
          }

          .blog {
              position: absolute;
              top: 49vw;
              left: 50vw;
              width: 3vw;
              height: 2vw;
              text-align: left;
              font: Medium 24.005px/29.002px HK Grotesk;
              letter-spacing: 0vw;
              color: #3b0f24;
              opacity: 1;
          }



          .nav-down {
              /*text
              font: Medium 24.005px/29.002px HK Grotesk;
              letter-spacing: 0px;
              color: #3b0f24;
              opacity: 1;
          }

          .nav-down :hover {
              /*text
              text-decoration-thickness: 5vh;

              text-decoration: underline;
          }

          .people {
              max-width: 243.994px;
              padding: 0;
              margin: 0;
              max-height: 275.998px;
              margin-left: 465.997px;
              margin-top: 45px;
          }

          .women {
              max-width: 400.003px;
              max-height: 400.003px;
              margin-left: 150.005px;
              margin-top: 49.997px;
          }

          .hey {
              max-width: 400.003px;
              max-height: 400.003px;
              margin-left: 47.995px;
              margin-top: 177.005px;
          }

          .footer p {
              /*
                  top: 1613.995px;
                  left: 152.006px;
                  width: 468px;
                  height: 29.002px;
                  
              text-align: left;
              font: Medium 24.005px/29.002px HK Grotesk;
              letter-spacing: 0px;
              color: #3b0f24;
              opacity: 1;
          }

          .footer a {
              /*
                  top: 1613.995px;
                  left: 1635.998px;
                  width: 143.006px;
                  height: 29.002px;
                  
              text-align: right;
              font: Medium 24.005px/29.002px HK Grotesk;
              letter-spacing: 0px;
              color: #6c63ff;
              opacity: 1;
          }

          .carousel-caption {
              text-align: left;
              margin-left: 200.002px;
              top: 99.994px;

          }

          .carousel-indicators li {
              width: 9.994px;
              height: 9.994px;
              border-radius: 100%;
              background-color: #d3288d;
          }

          .carousel-caption h5 {

              font: Light Italic 22.997px/27.994px HK Grotesk;
              letter-spacing: 0px;
              color: #3b0f24;
              opacity: 1;
          }

          .carousel-caption p {

              font: Medium 24.005px/29.002px HK Grotesk;
              letter-spacing: 0px;
              color: #3b0f24;
              opacity: 1;
              padding: 0;
              margin: 0;
          }

          .carousel-caption li {
              color: #d3288d;
          }

          .logo2 {
              height: 80.006px;
              width: 150.005px;
              margin-top: 4.997px;
              margin-left: 135.994px;
          }

          .laptop {
              height: 270.994px;
              width: 515.002px;
              margin-top: 76.003px;
              margin-left: 170.006px;
          }

          .lorem1 {
              margin-left: 45px;
              margin-top: 110.002px;
              width: 380.002px;
              text-align: left;
              font: Bold 20.002px/20.002px HK Grotesk;
              letter-spacing: 0px;
              color: #3b0f24;
              opacity: 1;
          }

          .dt {
              margin-top: 9.994px;
              margin-left: 31.997px;
              text-align: left;
              font: Medium 24.005px/29.002px HK Grotesk;
              letter-spacing: 0px;
              color: #ee84b5;
              opacity: 1;
          }

          .logo5 {
              height: 65.002px;
              width: 130.003px;
              margin-top: 4.997px;
              margin-left: 99.994px;
          }

          .laptop2 {
              height: 294.998px;
              width: 524.995px;
              margin-top: 0px;
              margin-left: 414.994px;
          }


          .dt2 {
              margin-top: 53.006px;
              margin-left: -324px;
              text-align: left;
              font: Medium 24.005px/29.002px HK Grotesk;
              letter-spacing: 0px;
              color: #ee84b5;
              opacity: 1;
          }

          .work {
              height: 65.002px;
              width: 130.003px;
              margin-top: 4.997px;
              margin-left: 99.994px;
              text-align: left;
              font: Medium 24.998px/24.998px HK Grotesk;
              letter-spacing: 0px;
              color: #3b0f24;
              opacity: 1;
          }

          #register {
              visibility: block;
          }

          #about-biznuke,
          #howItWorks,
          #blog {
              display: none;
          }

          .tested {
              margin-top: 267.998px;
              margin-left: 1055.995px;
              width: 247.997px;
              height: 56.002px;
              text-align: left;
              font: Light Italic 22.997px/27.994px HK Grotesk;
              letter-spacing: 0px;
              color: #3b0f24;
              opacity: 1;
          }

          .form-p p {
              text-align: left;
              font: Regular 18px/20.995px HK Grotesk;
              letter-spacing: 0px;
              color: #ee84b5;
              opacity: 1;
          }

          .form-p h1 {
              text-align: left;
              font: Bold 27.994px/33.005px HK Grotesk;
              letter-spacing: 0px;
              color: #3b0f24;
              opacity: 1;
          }

          .from-p h2 {
              text-align: left;
              font: 4.997px/4.997px HK Grotesk;
              letter-spacing: 0px;
              color: #3b0f24;
              opacity: 1;
          }

          .btn.btn-register {
              /*button
              background: #af0d64 0% 0% no-repeat padding-box;
              border-radius: 4.003px;
              opacity: 1;
              /*font
              text-align: center;
              font: Bold 18px/20.995px HK Grotesk;
              letter-spacing: 0px;
              color: #ffffff;

          }

          .btn.btn-form {
              /*button
              top: 1242px;
              left: 1134px;
              width: 108.994px;
              height: 47.995px;
              background: #FDF1F7 0% 0% no-repeat padding-box;
              border-radius: 4.003px;
              opacity: 1;
              /*text
              text-align: center;
              font: Medium 18px/20.995px HK Grotesk;
              letter-spacing: 0px;
              color: #D3288D;
          }

          .btn.btn-form :hover {
              /*button
              top: 1242px;
              left: 1134px;
              width: 108.994px;
              height: 47.995px;
              background: #EE3D97 0% 0% no-repeat padding-box;
              border-radius: 4.003px;
              opacity: 1;
              /*text
              text-align: center;
              font: Medium 18px/20.995px HK Grotesk;
              letter-spacing: 0px;
              color: #FFFFFF;
          }

          footer img {
              height: 29.995px;
              width: 29.995px;
          }

          /*
              **BlOG
              

          .secondJune {
              text-align: left;
              font: Medium 24.005px/29.002px HK Grotesk;
              letter-spacing: 0px;
              color: #EE84B5;
              opacity: 1;
          }

          /*vertical line
          .vl {
              border-left: 0.994px solid black;
              height: 50%;

          }

          .back-img {
              height: 70%;
              width: 5%;
          }

          .text-privacy {
              text-align: right;
          }

          .people-girl {

              max-width: 243.994px;
              padding: 0;
              margin: 0;
              max-height: 275.998px;
              margin-left: 465.997px;
              margin-top: 45px;
          }

          /*Icon bar

          .icon-bar-login {
              FONT-VARIANT: JIS04;
              background-color: transparent;
              /* overflow: auto; 
          }

          .icon-bar-login a {
              float: left;
              width: 20%;
              text-align: right;
              margin-left: 14.4px;
              margin-top: -9.994px;
              transition: all 0.3s ease;
              color: black;
              font-size: 36px;
          }

          .icon-bar-login a:hover {
              background-color: transparent;
          }

          .icon-bar-login :active {
              background-color: transparent
          }

          .icon-bar-home {
              width: 100%;
              background-color: transparent;
              overflow: auto;

          }

          .icon-bar-home a {
              float: left;
              width: 20%;
              text-align: center;
              margin-left: 119.995px;
              margin-top: -9.994px;
              transition: all 0.3s ease;
              color: black;
              font-size: 36px;
          }

          .icon-bar-home a:hover {
              background-color: transparent;
          }

          .icon-bar-home :active {
              background-color: transparent
          }

          .logo-main {
              left: 10px;
              top: 10px;
          }

      }
      