        @media only screen and (max-width: 53.333vw) {
        .hero-testimonials {
            width: 100%;
            height: 100vh;
            background: url(../assets/Path\ 136\ \(3\).svg) no-repeat;
            background-size: cover;
            background-position: center;
        }
        .lorem {
            margin-left: 1.389vw;
            width: 21.736vw;
            text-align: left;
            font: Bold 1.736vw/1.736vw HK Grotesk;
            letter-spacing: 0vw;
            color: #3B0F24;
            opacity: 1;
        }
        .quis {
            margin-left: 1.528vw;
            width: 22.361vw;
            text-align: left;
            font: Regular 1.736vw/1.736vw HK Grotesk;
            letter-spacing: 0vw;
            color: #3B0F24;
            opacity: 0.7;
        }
        .black-text {
            top: 0vw;
            left: 0vw;
            width: 16.319vw;
            height: 3.681vw;
            text-align: left;
            font: Bold 1.389vw/1.389vw HK Grotesk;
            letter-spacing: 0vw;
            color: #3B0F24;
        }
        .pink-text {
            top: 3.681vw;
            left: 0vw;
            width: 33.889vw;
            height: 3.681vw;
            text-align: left;
            font: Bold 1.389vw/1.389vw HK Grotesk;
            letter-spacing: 0vw;
            color: #EE3D97;
        }
        .coming-text {
            top: 31.806vw;
            left: 12.986vw;
            width: 9.514vw;
            height: 2.014vw;
            text-align: left;
            font: Medium 1.389vw/1.389vw HK Grotesk;
            letter-spacing: 0vw;
            color: #EE84B5;
            opacity: 1;
        }
        p {
            padding: 3.472vw;
        }
        a {
            margin: 2.083vw 0.694vw;
            width: 10.417vw;
            padding: 0.694vw;
            border-radius: 1.389vw;
        }
        .btn-first {
            /*                                                                                                                                                                                                                   
top: 37.639vw;
left: 12.986vw;
width: 12.778vw;
height: 3.75vw;
*/
            background: #FDF1F7 0% 0% no-repeat padding-box;
            border-radius: 0.278vw;
            opacity: 1;
        }
        .btn-second {
            /*
top: 38.472vw;
left: 30vw;
width: 6.944vw;
height: 1.667vw;
*/
            text-align: left;
            font: Medium 1.389vw/1.667vw HK Grotesk;
            letter-spacing: 0vw;
            color: #6C63FF;
            opacity: 1;
        }
        .header {
            height: 20vh;
        }
        .navbar-style {
            box-shadow: 0 0.347vw 0.694vw #efefef;
        }
        .logo {
            height: 4.861vw;
            padding: 0.069vw 0.347vw;
        }
        .people {
            max-width: 15.972vw;
            max-height: 62.5vw;
            margin-left: 8.403vw;
            margin-top: 15.833vw;
        }
        .women {
            max-width: 20.833vw;
            max-height: 18.056vw;
            margin-left: 2.222vw;
            margin-top: 3.472vw;
        }
        .hey {
            max-width: 18.542vw;
            max-height: 27.778vw;
            margin-left: 1.319vw;
            margin-top: 6.944vw;
            margin-bottom: 6.944vw;
          }
          .carousel-caption{
            text-align: left;
            margin-left:-2.847vw;
            margin-top:12.569vw;
            width: 12.5vw;
          }

            .text-privacy{
                text-align: center;
            }     
          }
        