     @media only screen and (max-width: 768px) {
     .hero-testimonials {
         width: 100%;
         height: 100vh;
         background: url(../assets/Path\ 136\ \(3\).svg) no-repeat;
         background-size: cover;
         background-position: center;
     }
     .lorem {
         text-align: left;
         font: Bold 38px/45px HK Grotesk;
         letter-spacing: 0px;
         color: #3B0F24;
         opacity: 1;
     }
     .quis {
         text-align: left;
         font: Regular 24px/29px HK Grotesk;
         letter-spacing: 0px;
         color: #3B0F24;
         opacity: 0.7;
     }
     .black-text {
         top: 0px;
         left: 0px;
         width: 235px;
         height: 53px;
         text-align: left;
         font: Bold 20px/20px HK Grotesk;
         letter-spacing: 0px;
         color: #3B0F24;
     }
     .pink-text {
         top: 53px;
         left: 0px;
         width: 488px;
         height: 53px;
         text-align: left;
         font: Bold 20px/20px HK Grotesk;
         letter-spacing: 0px;
         color: #EE3D97;
     }
     .coming-text {
         top: 458px;
         left: 187px;
         width: 137px;
         height: 29px;
         text-align: left;
         font: Medium 20px/20px HK Grotesk;
         letter-spacing: 0px;
         color: #EE84B5;
         opacity: 1;
     }
     p {
         padding: 50px;
     }
     a {
         margin: 30px 10px;
         width: 150px;
         padding: 10px;
         border-radius: 20px;
     }
     .btn-first {
         /*
                                            top: 542px;
                                            left: 187px;
                                            width: 184px;
                                            height: 54px;
                                            */
         background: #FDF1F7 0% 0% no-repeat padding-box;
         border-radius: 4px;
         opacity: 1;
     }
     .btn-second {
         /*
                                            top: 554px;
                                            left: 432px;
                                            width: 100px;
                                            height: 24px;
                                        */
         text-align: left;
         font: Medium 20px/24px HK Grotesk;
         letter-spacing: 0px;
         color: #6C63FF;
         opacity: 1;
     }
     .header {
         height: 20vh;
     }
     .navbar-style {
         box-shadow: 0 5px 10px #efefef;
     }
     .logo {
         height: 70px;
         padding: 1px 5px;
     }