* {
    padding: 0;
    margin: 0;
    border: 0;
}

.hero-testimonials {
    width: 100%;
    height: 100vh;
    background: url(../assets/Path\ 136\ \(3\).svg) no-repeat;
    background-size: cover;
    background-position: 0 -150px;
    margin-left: ;
}

.transparent-bg {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0, 0, 0, 0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0%, rgba(0, 0, 0, 0.00)), color-stop( 100%, rgba(0, 0, 0, 0.00)));
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
}

.lorem {
    text-align: left;
    font: Bold 30px/30px HK Grotesk;
    letter-spacing: 0px;
    color: #3B0F24;
    opacity: 1;
}

.quis {
    text-align: left;
    font: Regular 25px/25px HK Grotesk;
    letter-spacing: 0px;
    color: #3B0F24;
    opacity: 0.7;
    padding: 0;
}

.black-text {
    top: 0px;
    left: 0px;
    width: 235px;
    height: 53px;
    text-align: left;
    font: Bold 28px/28px HK Grotesk;
    letter-spacing: 0px;
    color: #3B0F24;
}

.pink-text {
    /*top: 53px;
   left: 0px;*/
    width: 488px;
    height: 53px;
    text-align: left;
    font: Bold 28px/28px HK Grotesk;
    letter-spacing: 0px;
    color: #EE3D97;
}

.coming-text {
    top: 458px;
    width: 137px;
    height: 29px;
    text-align: left;
    font: bold 15px/15px HK Grotesk;
    letter-spacing: 0px;
    color: #EE84B5;
    opacity: 1;
}

a {
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

.button {}

.btn-first {
    /*
    top: 542px;
    left: 187px;
    width: 184px;
    height: 54px;
    border-radius: 4px; 
    */
    background: #FDF1F7 0% 0%;
    opacity: 1;
}

.btn-second {
    /*
top: 554px;
left: 432px;
width: 100px;
height: 24px;
 text-align: left;
*/
    font: Medium 20px/24px HK Grotesk;
    letter-spacing: 0px;
    color: #6C63FF;
    opacity: 1;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    border: 0;
}

.blog{
    position: absolute;
    top: 49vw;
    left: 50vw;
    width: 3vw;
    height: 2vw;
    text-align: left;
    font: Medium 24px/29px HK Grotesk;
    letter-spacing: 0vw;
    color: #3B0F24;
    opacity: 1;
}
.svg1
{
    position: absolute;
    height: 42vw;
    width: 54vw;
    top: 54vw;
    left: 0vw;
}
.screensot{
    position: absolute;
    top: 59vw;
    left: 12.2vw;
    width: 36.1vw;
    height: 34vw;
    opacity: 1;
}
.lorem
{
    position: absolute;
    top: 61vw;
    left: 62vw;
    width: 35vw;
    height: 31vw;
    text-align: left;
    font: Bold 2.3vw HK Grotesk;
    letter-spacing: 0vw;
    color: #3B0F24;
    opacity: 1;
}
.content{
    position: absolute;
    top: 69vw;
    left: 62vw;
    width: -2vw;
    height: 12vw;
    text-align: left;
    font: Regular 24px/29px HK Grotesk;
    letter-spacing: 0vw;
    color: #3B0F24;
    opacity: 0.7;
}
.more{
    position: absolute;
    top: 76vw;
    left: 62vw;
    width: 7vw;
    height: 2vw;
    text-align: left;
    font: Medium 24px/29px HK Grotesk;
    letter-spacing: 0vw;
    color: #6C63FF;
    opacity: 1;
}
.line3{
    position: absolute;
    top: 99vw;
    left: 0vw;
    width: 100vw;
    height: 0vw;
    border: vw solid #E2E2E2;
    opacity: 1;
}

.navbar {
    background-color: #EE3D97;
}

.people {
    max-width: 400px;
    max-height: 400px;
    margin-left: 500px;
    margin-top: 40px;
}

.women {
    max-width: 400px;
    max-height: 400px;
    margin-left: 150px;
    margin-top: 50px;
}

.hey {
    max-width: 400px;
    max-height: 400px;
    margin-left: 150px;
    margin-top: 50px;
}
.footer-p{
    /*top: 1614px;
    left: 152px;
    width: 468px;
    height: 29px;
    */
    text-align: left;
    font: Medium 24px/29px HK Grotesk;
    letter-spacing: 0px;
    color: #3B0F24;
    opacity: 1;
}

.footer-a{
   /* top: 1614px;
    left: 1636px;
    width: 143px;
    height: 29px;
    */
    text-align: right;
    font: Medium 24px/29px HK Grotesk;
    letter-spacing: 0px;
    color: #6C63FF;
    opacity: 1;
}