                                    * {
                                    padding: 0;
                                    margin: 0;
                                    border: 0;
                                }
                                
                                .hero-testimonials {
                                    width: 100%;
                                    background: url(../assets/Path\ 136\ \(3\).svg) no-repeat;
                                    background-size: cover;
                                    background-position: 0 -150px;
                                }
                                
                                .transparent-bg {
                                    border-width: 0px;
                                    -webkit-box-shadow: 0px 0px;
                                    box-shadow: 0px 0px;
                                    background-color: rgba(0, 0, 0, 0.0);
                                    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0%, rgba(0, 0, 0, 0.00)), color-stop( 100%, rgba(0, 0, 0, 0.00)));
                                    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
                                    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
                                }
                                
                                .lorem {
                                    text-align: left;
                                    font: Bold 30px/30px HK Grotesk;
                                    letter-spacing: 0px;
                                    color: #3B0F24;
                                    opacity: 1;
                                }
                                
                                .quis {
                                    text-align: left;
                                    font: Regular 25px/25px HK Grotesk;
                                    letter-spacing: 0px;
                                    color: #3B0F24;
                                    opacity: 0.7;
                                    padding: 0;
                                }
                                
                                .black-text {
                                    top: 0px;
                                    left: 0px;
                                    width: 235px;
                                    height: 53px;
                                    text-align: left;
                                    font: Bold 28px/28px HK Grotesk;
                                    letter-spacing: 0px;
                                    color: #3B0F24;
                                }
                                
                                .pink-text {
                                    /*top: 53px;
   left: 0px;*/
                                    width: 488px;
                                    height: 53px;
                                    text-align: left;
                                    font: Bold 28px/28px HK Grotesk;
                                    letter-spacing: 0px;
                                    color: #EE3D97;
                                }
                                
                                .coming-text {
                                    top: 458px;
                                    width: 137px;
                                    height: 29px;
                                    text-align: left;
                                    font: bold 15px/15px HK Grotesk;
                                    letter-spacing: 0px;
                                    color: #EE84B5;
                                    opacity: 1;
                                }
                                
                                a.navbar-brand {
                                    margin: 0;
                                    width: 180px;
                                    padding: 0;
                                    border-radius: 20px;
                                }
                                
                                .btn-first {
                                    /*
    top: 542px;
    left: 187px;
    width: 184px;
    height: 54px;
    border-radius: 4px; 
    */
                                    background: #FDF1F7 0% 0%;
                                    opacity: 1;
                                }
                                
                                .btn-second {
                                    /*
top: 554px;
left: 432px;
width: 100px;
height: 24px;
 text-align: left;
*/
                                    font: Medium 20px/24px HK Grotesk;
                                    letter-spacing: 0px;
                                    color: #6C63FF;
                                    opacity: 1;
                                }
                                
                                .navbar-brand {
                                    margin: 0;
                                    padding: 0;
                                    border: 0;
                                }
                                
                                .blog {
                                    position: absolute;
                                    top: 49vw;
                                    left: 50vw;
                                    width: 3vw;
                                    height: 2vw;
                                    text-align: left;
                                    font: Medium 24px/29px HK Grotesk;
                                    letter-spacing: 0vw;
                                    color: #3B0F24;
                                    opacity: 1;
                                }
                                
                                .navbar {
                                    background-color: #EE3D97;
                                }
                                
                                .people {
                                    max-width: 400px;
                                    max-height: 400px;
                                    margin-left: 464px;
                                    margin-top: -27px;
                                }
                                
                                .women {
                                    max-width: 400px;
                                    max-height: 400px;
                                    margin-left: 150px;
                                    margin-top: 50px;
                                }
                                
                                .hey {
                                    max-width: 400px;
                                    max-height: 400px;
                                    margin-left: 150px;
                                    margin-top: 50px;
                                }
                                
                                .footer-p {
                                    /*top: 1614px;
    left: 152px;
    width: 468px;
    height: 29px;
    */
                                    text-align: left;
                                    font: Medium 24px/29px HK Grotesk;
                                    letter-spacing: 0px;
                                    color: #3B0F24;
                                    opacity: 1;
                                }
                                
                                .footer-a {
                                    /* top: 1614px;
    left: 1636px;
    width: 143px;
    height: 29px;
    */
                                    text-align: right;
                                    font: Medium 24px/29px HK Grotesk;
                                    letter-spacing: 0px;
                                    color: #6C63FF;
                                    opacity: 1;
                                }
                                
                                .carousel-indicators li {
                                    margin-left: 100px;
                                    margin-top: 100px;
                                    border-radius: 100%;
                                    background-color: #D3288D;
                                }
                                
                                .carousel-caption h5 {
                                    margin-left: 100px;
                                    top: 100px;
                                    font: Light Italic 23px/28px HK Grotesk;
                                    letter-spacing: 0px;
                                    color: #3B0F24;
                                    opacity: 1;
                                }
                                
                                .carousel-caption p {
                                    margin-left: 100px;
                                    margin-top: 100px;
                                    font: Medium 24px/29px HK Grotesk;
                                    letter-spacing: 0px;
                                    color: #3B0F24;
                                    opacity: 1;
                                }
                                
                                .carousel-caption li {
                                    color: #D3288D;
                                }
                                
                                .logo2 {
                                    height: 80px;
                                    width: 150px;
                                    margin-top: 5px;
                                    margin-left: 136px;
                                }
                                
                                .laptop {
                                    height: 271px;
                                    width: 515px;
                                    margin-top: 76px;
                                    margin-left: 170px;
                                }
                                
                                .lorem1 {
                                    margin-left: 45px;
                                    margin-top: 110px;
                                    width: 380px;
                                    text-align: left;
                                    font: Bold 20px/20px HK Grotesk;
                                    letter-spacing: 0px;
                                    color: #3B0F24;
                                    opacity: 1;
                                }
                                
                                .dt {
                                    margin-top: 10px;
                                    margin-left: 32px;
                                    text-align: left;
                                    font: Medium 24px/29px HK Grotesk;
                                    letter-spacing: 0px;
                                    color: #EE84B5;
                                    opacity: 1;
                                }
                                
                                .logo5 {
                                    height: 65px;
                                    width: 130px;
                                    margin-top: 5px;
                                    margin-left: 100px;
                                }
                                
                                .laptop2 {
                                    height: 295px;
                                    width: 525px;
                                    margin-top: 0px;
                                    margin-left: 415px;
                                }
                                
                                .lorem2 {
                                    margin-left: 443px;
                                    margin-top: 0px;
                                    width: 470px;
                                    text-align: left;
                                    font: Bold 20px/20px HK Grotesk;
                                    letter-spacing: 0px;
                                    color: #3B0F24;
                                    opacity: 1;
                                }
                                
                                .dt2 {
                                    margin-top: 53px;
                                    margin-left: -324px;
                                    text-align: left;
                                    font: Medium 24px/29px HK Grotesk;
                                    letter-spacing: 0px;
                                    color: #EE84B5;
                                    opacity: 1;
                                }
                                
                                .work {
                                    height: 65px;
                                    width: 130px;
                                    margin-top: 5px;
                                    margin-left: 100px;
                                    text-align: left;
                                    font: Medium 25px/25px HK Grotesk;
                                    letter-spacing: 0px;
                                    color: #3B0F24;
                                    opacity: 1;
                                    #register {
                                        visibility: visible;
                                    }
                                    #about-biznuke,
                                    #howItWorks,
                                    #blog {
                                        visibility: hidden;
                                    }
                                    .tested {
                                        margin-top: 268px;
                                        margin-left: 1056px;
                                        width: 248px;
                                        height: 56px;
                                        text-align: left;
                                        font: Light Italic 23px/28px HK Grotesk;
                                        letter-spacing: 0px;
                                        color: #3B0F24;
                                        opacity: 1;
                                    }