* {p
  padding: 0;
  margin: 0;
  border: 0;
}

.hero-testimonials {
  width: 100%;
  background: url(../assets/Path\ 136\ \(3\).svg) no-repeat;
  background-size: cover;
  background-position: 0 -150px;
}
.hero-testimonials-2 {
  width: 100%;
  background: url(assets\Path354.svg) no-repeat;
  background-size: cover;
  background-position: 0 -150px;
}
/*
.facebook {
    margin-left: 2px;
    top: 5px;
    left: 621px;
    width: 175px;
    height: 29px;
    align-items: left;
    text-align: left;
    font: Medium 24px/29px HK Grotesk;
    letter-spacing: 0px;
    color: #6c63ff;
    opacity: 1;
}*/
.facebook img{
  width: 29px;
  height: 30px;
  padding: 0;
  margin: 2px;
  border: 0;
}
.top-hr{
    position: absolute;
    left: -255px;
    top: 32px;
    height: 0;
    width: 128%;
}

.lorem {
  margin-top: 65px;

  width: 385px;
  text-align: left;
  font: Bold 30px/30px HK Grotesk;
  letter-spacing: 0px;
  color: #3b0f24;
  opacity: 1;
}

.quis {
  margin-top: -20px;

  width: 390px;
  text-align: left;
  font: Regular 25px/25px HK Grotesk;
  letter-spacing: 0px;
  color: #3b0f24;
  opacity: 0.7;
  padding: 0;
}

.black-text {
  top: 0px;
  left: 0px;
  width: 235px;
  height: 53px;
  text-align: left;
  font: Bold 28px/28px HK Grotesk;
  letter-spacing: 0px;
  color: #3b0f24;
}

.pink-text {
  /*top: 53px;
    left: 0px;*/
  width: 488px;
  height: 53px;
  text-align: left;
  font: Bold 28px/28px HK Grotesk;
  letter-spacing: 0px;
  color: #ee3d97;
}

.coming-text {
  top: 400px;
  width: 137px;
  height: 29px;
  text-align: left;
  font: bold 15px/15px HK Grotesk;
  letter-spacing: 0px;
  color: #ee84b5;
  opacity: 1;
}

a.navbar-brand {
  margin: 0;
  width: 180px;
  padding: 0;
  border-radius: 20px;
}

.button-link {
  text-decoration: #6C63FF;
}


.navbar-brand {
  margin: 0;
  padding: 0;
  border: 0;
}

.blog {
  position: absolute;
  top: 49vw;
  left: 50vw;
  width: 3vw;
  height: 2vw;
  text-align: left;
  font: Medium 24px/29px HK Grotesk;
  letter-spacing: 0vw;
  color: #3b0f24;
  opacity: 1;
}



.nav-down {
  /*text*/
  font: Medium 24px/29px HK Grotesk;
  letter-spacing: 0px;
  color: #3b0f24;
  opacity: 1;
}

.nav-down :hover {
  /*text*/
  position: sticky;
  color:darkblue;
  border-style:solid;
  border-width: 0px 0px 1px 0px;
  padding:2px;
}
.people {
  max-width: 244px;
  padding: 0;
  margin: 0;
  max-height: 331px;
  margin-left: 500px;
  margin-top: -9px;
}

.women {
  max-width: 400px;
  max-height: 400px;
  margin-left: 150px;
  margin-top: 50px;
}

.hey {
  max-width: 400px;
  max-height: 400px;
  margin-left: 48px;
  margin-top: 177px;
}

.footer p {
  /*
    top: 1614px;
    left: 152px;
    width: 468px;
    height: 29px;
    */
  text-align: left;
  font: Medium 24px/29px HK Grotesk;
  letter-spacing: 0px;
  color: #3b0f24;
  opacity: 1;
}

.footer a {
  /*
    top: 1614px;
    left: 1636px;
    width: 143px;
    height: 29px;
    */
  text-align: right;
  font: Medium 24px/29px HK Grotesk;
  letter-spacing: 0px;
  color: #6c63ff;
  opacity: 1;
}
.carousel-caption{
    text-align: left;
    margin-left:200px;
    top:100px;

}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #d3288d;
}

.carousel-caption h5 {

  font: Light Italic 23px/28px HK Grotesk;
  letter-spacing: 0px;
  color: #3b0f24;
  opacity: 1;
}

.carousel-caption p {

  font: Medium 24px/29px HK Grotesk;
  letter-spacing: 0px;
  color: #3b0f24;
  opacity: 1;
  padding: 0;
  margin: 0;
}

.carousel-caption li {
  color: #d3288d;
}

.logo2 {
  height: 80px;
  width: 150px;
  margin-top: 5px;
  margin-left: 136px;
}

.laptop {
  height: 271px;
  width: 515px;
  margin-top: 76px;
  margin-left: 170px;
}

.lorem1 {
  margin-left: 45px;
  margin-top: 110px;
  width: 380px;
  text-align: left;
  font: Bold 20px/20px HK Grotesk;
  letter-spacing: 0px;
  color: #3b0f24;
  opacity: 1;
}

.dt {
  margin-top: 10px;
  margin-left: 32px;
  text-align: left;
  font: Medium 24px/29px HK Grotesk;
  letter-spacing: 0px;
  color: #ee84b5;
  opacity: 1;
}

.logo5 {
  height: 65px;
  width: 130px;
  margin-top: 5px;
  margin-left: 100px;
}

.laptop2 {
  height: 295px;
  width: 525px;
  margin-top: 0px;
  margin-left: 415px;
}

.lorem2 {
  margin-left: 443px;
  margin-top: 0px;
  width: 470px;
  text-align: left;
  font: Bold 20px/20px HK Grotesk;
  letter-spacing: 0px;
  color: #3b0f24;
  opacity: 1;
}

.dt2 {
  margin-top: 53px;
  margin-left: -324px;
  text-align: left;
  font: Medium 24px/29px HK Grotesk;
  letter-spacing: 0px;
  color: #ee84b5;
  opacity: 1;
}

.work {
  height: 65px;
  width: 130px;
  margin-top: 5px;
  margin-left: 100px;
  text-align: left;
  font: Medium 25px/25px HK Grotesk;
  letter-spacing: 0px;
  color: #3b0f24;
  opacity: 1;
}

#register {
  visibility: block;
}

#about-biznuke,
#howItWorks,
#blog {
  display: none;
}

.tested {
  margin-top: 268px;
  margin-left: 1056px;
  width: 248px;
  height: 56px;
  text-align: left;
  font: Light Italic 23px/28px HK Grotesk;
  letter-spacing: 0px;
  color: #3b0f24;
  opacity: 1;
}

.form-p p {
  text-align: left;
  font: Regular 18px/21px HK Grotesk;
  letter-spacing: 0px;
  color: #ee84b5;
  opacity: 1;
}

.form-p h1 {
  text-align: left;
  font: Bold 28px/33px HK Grotesk;
  letter-spacing: 0px;
  color: #3b0f24;
  opacity: 1;
}

.from-p h2 {
  text-align: left;
  font: 5px/5px HK Grotesk;
  letter-spacing: 0px;
  color: #3b0f24;
  opacity: 1;
}

.btn.btn-register {
  /*button*/
  background: #af0d64 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  /*font*/
  text-align: center;
  font: Bold 18px/21px HK Grotesk;
  letter-spacing: 0px;
  color: #ffffff;
 
}

.btn.btn-form {
  /*button*/
  top: 1242px;
  left: 1134px;
  width: 109px;
  height: 48px;
  background: #FDF1F7 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  /*text*/
  text-align: center;
  font: Medium 18px/21px HK Grotesk;
  letter-spacing: 0px;
  color: #D3288D;
}

.btn.btn-form :hover {
  /*button*/
  top: 1242px;
  left: 1134px;
  width: 109px;
  height: 48px;
  background: #EE3D97 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  /*text*/
  text-align: center;
  font: Medium 18px/21px HK Grotesk;
  letter-spacing: 0px;
  color: #FFFFFF;
}
footer img{
    height:30px ;
    width:30px ;
}

/*
**BlOG
*/

.secondJune{
  text-align:left;
  font:Medium 24px/29px HK Grotesk;
  letter-spacing: 0px;
  color:#EE84B5;
  opacity:1;
}

/*vertical line*/
.vl {
  border-left: 1px solid black;
  height: 50%;
  
}
.back-img{
  height: 70%;
  width: 5%;
}
.text-privacy{
  text-align: right;
}

.people-girl{
  
  max-width: 244px;
  padding: 0;
  padding-top: 30px;
  margin: 0;
  max-height: 331px;
  margin-left: 500px;
  margin-top: 32px;
  }
  /*Icon bar*/
  
.icon-bar-login {
  width: 100%;
  background-color:transparent;
  overflow: auto;
}

.icon-bar-login a {
  float: left;
  width: 20%;
  text-align: right;
  margin-left: 550px;
  margin-top: -10px;
  transition: all 0.3s ease;
  color: black;
  font-size: 36px;
}

.icon-bar-login a:hover {
  background-color:transparent;
}

.icon-bar-login :active {
  background-color:transparent
}
.icon-bar-home{
  width: 100%;
  background-color:transparent;
  overflow: auto;

}
.icon-bar-home a {
  float: left;
  width: 20%;
  text-align: center;
  margin-left: 120px;
  margin-top: -10px;
  transition: all 0.3s ease;
  color: black;
  font-size: 36px;
}

.icon-bar-home a:hover {
  background-color:transparent;
}

.icon-bar-home :active {
  background-color:transparent
}
